@model AccountingProgram.Models.Customer

@{
    ViewData["Title"] = "Usuń klienta";
}

<div class="container mt-5">
    <div class="card">
        <div class="card-header text-center">
            <h4 class="text-center m-1">@ViewData["Title"]</h4>
        </div>
        <div class="card-body">
            <h4 class="text-danger text-center">Czy na pewno chcesz usunąć tego klienta?</h4>
            <div class="mt-4">
                <h5 class="mb-3">Informacje o kliencie:</h5>
                <div class="row">
                    <div class="col-md-6">
                        <dl class="row">
                            <dt class="col-sm-3">Nazwa:</dt>
                            <dd class="col-sm-9">@Model.Name</dd>
                            <dt class="col-sm-3">NIP:</dt>
                            <dd class="col-sm-9">@Model.NIPNumber</dd>
                            <dt class="col-sm-3">Telefon:</dt>
                            <dd class="col-sm-9">@Model.PhoneNumber</dd>
                            <dt class="col-sm-3">Email:</dt>
                            <dd class="col-sm-9">@Model.Email</dd>
                        </dl>
                    </div>
                    <div class="col-md-6">
                        <dl class="row">
                            <dt class="col-sm-3">Miasto:</dt>
                            <dd class="col-sm-9">@Model.City</dd>
                            <dt class="col-sm-3">Ulica:</dt>
                            <dd class="col-sm-9">@Model.Street</dd>
                            <dt class="col-sm-3">Numer domu:</dt>
                            <dd class="col-sm-9">@Model.Address</dd>
                            <dt class="col-sm-3">Kod pocztowy:</dt>
                            <dd class="col-sm-9">@Model.PostalCode</dd>
                        </dl>
                    </div>
                </div>

            </div>
        </div>
        <div class="card-footer text-center">
            <form asp-action="Delete" class="d-inline">
                <input type="hidden" asp-for="CustomerId" />
                <input type="submit" value="Usuń" class="btn btn-danger mx-2" />
            </form>
            <a asp-action="Index" class="btn btn-secondary mx-2">Anuluj</a>
        </div>
    </div>
</div>
