@model IEnumerable<AccountingProgram.Models.Customer>

@{
    ViewData["Title"] = "Lista klientów";
}

<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <div class="row justify-content-between align-items-center">
                <div class="col-auto">
                    <h4 class="card-title mb-0">@ViewData["Title"]</h4>
                </div>
                <div class="col-auto">
                    <a asp-action="Create" class="btn btn-outline-dark">
                        <i class="bi bi-person-plus"></i> Dodaj nowego klienta
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            @if (Model.Any())
            {
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>Imię</th>
                                <th>NIP</th>
                                <th>Telefon</th>
                                <th>Email</th>
                                <th>Miasto</th>
                                <th>Ulica</th>
                                <th>Adres</th>
                                <th>Kod pocztowy</th>
                                <th>Edytuj</th>
                                <th>Usuń</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.NIPNumber</td>
                                    <td>@item.PhoneNumber</td>
                                    <td>@item.Email</td>
                                    <td>@item.City</td>
                                    <td>@item.Street</td>
                                    <td>@item.Address</td>
                                    <td>@item.PostalCode</td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.CustomerId" class="btn btn-outline-dark">
                                            <i class="bi bi-pencil"></i> Edytuj
                                        </a>
                                    </td>
                                    <td>
                                        <a asp-action="Delete" asp-route-id="@item.CustomerId" class="btn btn-outline-danger">
                                            <i class="bi bi-trash"></i> Usuń
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            }
            else
            {
                <div class="alert alert-info" role="alert">Brak klientów do wyświetlenia.</div>
            }
        </div>
    </div>
</div>
